BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
SpacesInParentheses: false
SpaceAfterCStyleCast: true
AlignConsecutiveAssignments: true
BreakBeforeBraces: Allman
